<%= render partial: 'partials/header' %>

<!DOCTYPE html>
<title>My Example</title>

<style>
.table-with-caption {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin-top: 1.5rem; 
}

.table-with-caption caption {
    caption-side: top;ßß
    
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    color: #333;
    padding-bottom: 10px;
}

.table-with-caption thead th {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
}

.table-with-caption td {
    border: 1px solid #dee2e6;
    padding: 10px;
    background: white;
}
</style>


<table class="table-with-caption">
  <% if @applications.any? %>
    <caption><%= t('jobs.applicants.caption') %></caption>
    <thead>
        <tr>
            <th scope="col"><%= t('jobs.applicants.name') %></th>
            <th scope="col"><%= t('jobs.applicants.email') %></th>
            <th scope="col"><%= t('jobs.applicants.phone') %></th>
            <th scope="col"><%= t('jobs.applicants.applied_for') %></th>
            <th scope="col"><%= t('jobs.applicants.about') %></th>
            <th scope="col"><%= t('jobs.applicants.status') %></th>
            <th scope="col"><%= t('jobs.applicants.resume') %></th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <% @applications.each do |app| %>
          <tr>
            <td><%= app.jobseeker.username %></td>
            <td><%= app.jobseeker.email %></td>
            <td><%= app.jobseeker.phone_number %></td>
            <td><%= app.job.title %></td>
            <td><%= app.about_yourself.presence || t('jobs.applicants.about_empty') %></td>
            <td><%= t('jobs.applicants.status.' + app.status.downcase) rescue app.status.capitalize %></td>
            <td>
              <% if app.resume.attached? %>
                <%= link_to t('jobs.applicants.download'), rails_blob_path(app.resume, disposition: "attachment"), class: "btn btn-sm btn-primary" %>
              <% else %>
                <%= t('jobs.applicants.no_resume') %>
              <% end %>
            </td>
            
          </tr>
        <% end %>
      </tr>
    </tbody>
  <% else %>
    <p><%= t('jobs.applicants.none_yet') %></p>
  <% end %>
</table>

