<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #882727;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #111;
      }
    </style>
  </head>
  <body>
    <ul>
      <% if logged_in? %>
        <li style="color: white; float: right;">
          <%= t('nav.logged_in_as') %> <strong><%= current_user.username %></strong>
          <%= link_to t('nav.logout'), user_logout_path, method: :delete %>
        </li>

        <% if current_user.role == 'recruiter' %>
          <li><%= link_to t('nav.home'), recruiter_home_path %></li>
          <li><%= link_to t('nav.post_job'), new_job_path %></li>
          <li><%= link_to t('nav.show_my_jobs'), recruiter_jobs_path %></li>
          <li><%= link_to t('nav.show_applicants'), recruiter_applicants_path %></li>

        <% else %>
          <li><%= link_to t('nav.home'), jobseeker_home_path %></li>
          <li><%= link_to t('nav.all_jobs'), all_jobs_path %></li>
          <li><%= link_to t('nav.applied_jobs'), applied_jobs_path %></li>
        <% end %>
      <% else %>
        <li><%= link_to t('nav.home'), root_path %></li>
        <li><%= link_to t('nav.signup'), new_signup_path %></li>
        <li><%= link_to t('nav.login'), login_path %></li>
      <% end %>
      <li style="float: right;">
        <%= link_to t('nav.lang_en'), url_for(locale: :en) %> 
        <%= link_to t('nav.lang_es'), url_for(locale: :es) %> 
        <%= link_to t('nav.lang_hi'), url_for(locale: :hi) %>
      </li>
    </ul>
  </body>
</html>