<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #882727;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #111;
      }
    </style>
  </head>
  <body>
    <ul>
      <% if logged_in? %>
        <li style="color: white;">
          Logged in as <strong><%= current_user.username %></strong>
          <%= link_to 'Logout', user_logout_path, method: :delete %>
        </li>

        <% if current_user.role == 'recruiter' %>
          <li><%= link_to 'Home', recruiter_home_path %></li>
          <li><%= link_to 'Post a Job', new_job_path %></li>
          <li><%= link_to 'Show My Jobs', recruiter_jobs_path %></li>
          <li><%= link_to 'Show Applicants', recruiter_applicants_path %></li>

        <% else %>
          <li><%= link_to 'Home', jobseeker_home_path %></li>
          <li><%= link_to 'All Jobs', all_jobs_path %></li>
          <li><%= link_to 'Applied Jobs', applied_jobs_path %></li>
        <% end %>
      <% else %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Signup', new_signup_path %></li>
        <li><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
  </body>
</html>