<%= render partial: 'partials/header' %>

<!DOCTYPE html>
<html>
<head>
  <title>Items</title>
  <style>
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .item {
      width: 30%;
      margin: 10px;
      padding: 10px;
      background-color: #f0f0f0; 
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      color: #333; 
    }

    p {
      color: #666;
    }

    .price {
      color: #009688;
      font-weight: bold;
    }

    @media screen and (max-width: 992px) {
      .item {
        width: 45%;
      }
    }

    @media screen and (max-width: 600px) {
      .item {
        width: 90%;
      }
    }
  </style>
</head>
  <body>
    <div class="container">
      <% @jobs.each do |job| %>
        <div class="item">
        
          <h2><%= t('jobs.index.job_title') %> : <%= job.title %></h2>
          <h3><%= t('jobs.index.job_description') %> : <%= job.description %></h3>
          <p><%= t('jobs.index.company_name') %> : <%= job.company_name %></p>
          <p><%= t('jobs.index.industry_type') %> : <%= job.industry_type %></p>
          <p><%= t('jobs.index.location') %> : <%= job.location %></p>
          <p><%= t('jobs.index.vacancy') %> : <%= job.vacancy %></p>

          <% job_application = job.job_applications.find_by(jobseeker_id: current_user.id) %>

          <% if job_application.present? && job_application.updated_at > 3.months.ago %>
          
            <%= link_to t('jobs.index.already_applied'), '#', class: 'edit-button disabled' %>
            <p><%= t('jobs.index.status') %> : <%= job_application.status %></p>
            <% if job_application.status == 'reject' %>
              <p><%= t('jobs.index.can_apply_again') %></p>
            <% end %>
            
          <% else %>
            <%= link_to t('jobs.index.apply_job'), new_job_application_path(job_id: job.id, locale: I18n.locale), class: 'edit-button' %>          <% end %>
        </div>
      <% end %>
    </div>  
  </body>
</html>